@using EmployeePartV2.Models
@using PagedList.Mvc
@model PagedList.PagedList<Employee>

<table class="table table-striped table-bordered zero-configuration">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Salary</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Nationality</th>
            <th>Date of contract</th>
            @*<th>SSNFile</th>*@
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        <td>@item.Name</td>
        <td>@item.EmpID</td>
        <td>@item.Phone</td>
        <td>@item.Gender</td>
        <td>@item.Salary</td>
        <td>@item.StartTime</td>
        <td>@item.EndTime</td>
        <td>@item.Nationality</td>
        <td>@item.contractStartDate.ToShortDateString()</td>
        @*<td><img src="~/attach/@item.SSNFile" width="150" height="150" alt="No Data"/></td>*@
        </tbody>
    }

</table>
